@charset "utf-8";

/* ========================================
    コンテンツ
========================================= */

.container {
    width: 1280px;
    padding: 90px 30px 30px 30px;
}

.contents-title {
    margin-bottom: 10px;
}

.contents {
    width: 940px;
    float: right;
}


/* 一覧ページ */

table {
    table-layout: fixed;
    margin-bottom: 30px;
}

table thead th {
    font-size: 2.1rem;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    border-bottom: 6px solid #f8cb8b;
}

table tbody tr {
    background-color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #fff8ee;
}

table tbody td {
    padding: 10px;
    color: rgb(94, 94, 94);
    height: 50px;
    width: 315px;
}

.userInfo__icon {
    display: inline-block;
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

/* 入力ページ */
.form-group {
    padding: 10px;
}

.form-label, .form-input {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2px;
}

.form-label {
    font-weight: bold;
}

.label-description {
    margin: 0px 10px 20px 10px;
}

.form-input {
    font-size: 1.7rem;
    border: 1px solid rgb(216, 216, 216);
    background-color: #fcf8f3;
}

.form-select {
    width: 200px;
}

.brank {
    margin-bottom: 40px;
}

.submit {
    font-size: 1.5rem;
    width: 90px;
    padding: 0.3rem 1rem;
    border: solid 0.5px black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: white;
    transition: .4s;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.submit:hover {
    background: rgb(95, 95, 95);
    color: white;
}