@charset "utf-8";

/* ========================================
    コンテナー
========================================= */

.container {
    margin: 10px auto;
    padding: 60px 0px 0px 0px;
    width: 1080px;
}


/* ========================================
    メインコンテンツ
========================================= */

.post {
    padding: 20px;
    margin-bottom: 20px;
}

.wrap {
    width: 1020px;
    height: 50px;
    margin-bottom: 20px;
}

.userInfo {
    width: 830px;
    font-size: 1.6rem;
    color: gray;
    float: left;
}

.userInfo__miniIcon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

.userName {
    padding-left: 5px;
}

.post__likeCounter {
    width: 190px;
    height: 50px;
    border-left: 2px solid #f8cb8b;
    float: left;
    position: relative;
}

.counts {
    font-size: 1.8rem;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

.btn {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

/* 記事タイトル */
.post__postTitle {
    font-size: 3.6rem;
    line-height: 3.6rem;
}

/* 内容 */

.contents {
    width: 70%;
    background-color: white;
    float: left;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.postInfo__title {
    padding-bottom: 5px;
    border-bottom: 2px solid #f8cb8b;
    height: auto;
    width: 100%;
}

.postInfo__content {
    padding: 20px;
    margin-bottom: 40px;
}

.postInfo__category {
    padding: 20px;
    margin-bottom: 40px;
}

.btn-category {
    width: 200px;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    margin: 0px auto 10px auto;
    background: rgb(101, 155, 255);
    color: white;
}

.btn-category:hover {
    background: rgb(55, 85, 255);
    color: white;
}

.postInfo__commentArea {
    padding: 20px;
}

.postInfo__comment {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.userInfo__comment {
    height: 40px;
    font-size: 1.2rem;
    color: gray;
    vertical-align: middle;
    position: relative;
}

.box1 {
    min-width: 290px;
    height: 40px;
    float: left;
    margin-right: 10px;
    font-size: 1.5rem;
}

.userInfo__commentIcon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
}

.userInfo__comment:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;/*線の上下位置*/
    width: 101%;
    height: 0.8px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: #f8cb8b;/* 線の色*/
}


.box2 {
    width: 200px;
    height: 33px;
    float: left;
    padding-top: 7px;
}

.postInfo__commentForm {
    padding: 20px;
    margin-bottom: 40px;
}

.postInfo__commentForm--textarea {
    border: solid 1px black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 2rem;
    resize: none;
    width: 100%;
}

.postInfo__commentForm--button {
    width: 80px;
    padding: 5px 10px;
    margin-top: 10px;
    border: solid 1px black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 2rem;
    transition: .4s;
    background-color: white;
}

.postInfo__commentForm--button:hover {
    background: black;
    color: white;
}
